#container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}
.question{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;

  ion-radio-group{
    width: 98%;
  }
}
.buttons{
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin:0 auto;
}
